body{
    font-family: sans-serif;
}

h1, p, div, footer{
    border: 3px solid red;
}
p{
    width: 50%;
    padding: 25px;
}

div{
    margin: 50px;
}

b, em, a, span{
    background-color: yellow;
}

em{
    display: inline-block; /*nenhuma propriedade de box size funciona inline*/
    height: 50px;
    width: 200px;
    margin: 5px;
    padding: 50px;
}

img{
    display: block;
}

li{
    display: inline;
}