body{
    margin: 0;
    padding: 0;
}

.top{
    background-color: #966700;
    height: 30vh;
}

.menu{
    background-color: #739600;
    height: 10vh;
}

main{
    display: flex;
    height: 50vh;
}

.first{
    background-color: #008296;
    flex-grow: 3;
    height: 100%;
}

.second{
    background-color: #008255;
    flex-grow: 7;
}

footer{
    background-color: #550096;
    height: 10vh;
}

@media screen and (max-width: 992px) {
    .top{
        background-color: black;
        height: 20vh;
    }

    main{
        height: 60vh;
        flex-direction: column;
    }

    .first{
        background-color: #96003a;
        height: 50%;
    }

    .second{
        height: 50%;
    }
}