body{
    color: black;
    background-image: url(../imagem/imageCSS.jpg);
    background-position: right;
    background-size: contain;
}

h1{
    color: blue;
}

h2{
    color: red;
    background-color: gray;
}

h3{
    color: green;
}